body{
	background: #e2e1e1;
}

h1{
	color: #047480;
	font-size: 28.45px;
	text-align: center;
	line-height: 32.78px;
}

#quadrado{
	background: #047480;
	color: #e2e1e1;
	text-align: center;
	width: 900px;
	height: 270px;
	margin: 0 auto;
	padding: 20px;
}

span{
	line-height: 30px;
}

button{
	color: #fcfcfc;
	background: #e25416;
	width: 128px;
	height: 25px;
}

#resultado{
	color: #fcfcfc;
	background: #e25416;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
}

